name: Renovate

on:
  schedule:
    - cron: 0 */1 * * *
  workflow_dispatch: {}

concurrency: renovate-runner

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Obtain token
        id: obtainToken
        uses: actions/create-github-app-token@v2
        with:
          private-key: ${{ secrets.private_key }}
          app-id: ${{ vars.app_id }}
          owner: ${{ github.repository_owner }}
      - name: Checkout
        uses: actions/checkout@v5.0.1
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v44.2.2
        with:
          token: '${{ steps.obtainToken.outputs.token }}'
          configurationFile: '.github/renovate.json'
